{% extends "base.html" %}
{% block title %}홈{% endblock %}
{% block css %}

    .mainDiv{
    margin-top: 20px;
    height : 750px;
    background-color : #eeeeed;
    }

    .clientStatusDiv{
    float : left;
    width : 25%;
    }

    .mainInfo{
    width : 250px;
    height : 230px;
    margin-top : 30px;
    margin-left : 25px;
    background-color: #FFFFFF;
    text-align : center;
    }

    .defaultimage
    {
    width : 80px;
    height : 80px;
    margin-top : 20px;
    margin-bottom : 10px;
    border-radius : 40px;
    }

    .mainInfoDetail2{
    width : 400px;
    height : 200px;
    float : left;
    }

    .statusboxgroup{
    margin-left:27.5px;
    width:195px;
    background-color:blue;
    }

    .statusbox{
    margin-top:10px;
    width : 65px;
    height : 40px;
    float : left;
    text-align : center;
    font-size:12px;
    }

    .transbtn{
    margin-top : 20px;
    margin-left : 25px;
    width:250px;
    height:50px;
    }

    .orderInfoDiv{
    width : 75%;
    float : right;
    }

    .orderInfoSubDiv{
    margin-top : 30px;
    margin-left : 10px;
    margin-right : 30px;
    }

    tr.body:hover {
    background-color: #EEEEEE;
    }
{% endblock %}
{% block javascript %}
    function Original(lang)
    {
    var btn = document.getElementById("originalLang");
    var btn2 = document.getElementById("changeLang");
    if(lang == 0) {
    btn.innerHTML = "영어";
    btn2.innerHTML = "한국어";
    }
    else if(lang == 1) {
    btn.innerHTML = "한국어";
    btn2.innerHTML = "영어";
    }

    return 0;
    }

    function ChangeLang(lang)
    {
    var btn = document.getElementById("changeLang");
    var btn2 = document.getElementById("originalLang");
    if(lang == 0) {
    btn.innerHTML = "영어";
    btn2.innerHTML = "한국어";
    }
    else if(lang == 1) {
    btn.innerHTML = "한국어";
    btn2.innerHTML = "영어";
    }
    return 0;
    }

    var client = new XMLHttpRequest();

    function FileBrowse()
    {
    var file_upload_btn = document.getElementById("file_upload_btn");
    var file = document.getElementById("file_upload_input");

    $("#file_upload_input").click();
    $("#file_upload_input").change(function() {
    file_upload_btn.innerHTML = $("#file_upload_input").val().split('\\').pop();

    /* Create a FormData instance */
    var formData = new FormData();
    /* Add the file */
    formData.append("file", file.files[0]);

    client.open("POST", "/calculate_budget/", true);
    client.send(formData);

    });
    }


    client.onreadystatechange = function()
    {
    if (client.readyState == 4 && client.status == 200)
    {
    var obj = JSON.parse(client.responseText);
    $("#amountMoney").val(obj.budget);
    $("#transcount").val(obj.transcount);

    console.log(client.responseText);
    }
    }


    function getStatus(order_num, order_id)
    {
    if(order_num == 1)
    window.location.href="/makestatus/";
    else
    window.location.href="/mystatus/" + order_id + "/" ;
    }

{% endblock %}
{% block content %}
    <div class="mainDiv">
        <div class="clientStatusDiv">
            <div class="mainInfo" >
                <img class="defaultimage" src="/static/default.png">
                <h4 style="margin-bottom:20px;"> {{user.customer.nickname}}</h4>
                <legend style="margin-bottom:0px;"></legend>
                <div class="statusboxgroup">
                    <div class="statusbox">
                        {{ pre_orders|length }}
                        <p>구매중</p>
                    </div>
                    <div class="statusbox">
                        {{ progress_orders|length }}
                        <p>진행중</p>
                    </div>
                    <div class="statusbox">
                        {{ complete_orders|length }}
                        <p>완료</p>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-success transbtn" onclick="javascript:getStatus(1, 0);">+새로운 의뢰 추가</button>
            <!--
             <div class="mainInfoDetail2">

             </div>
             -->
        </div>
        <div class="orderInfoDiv">
            <div class="orderInfoSubDiv">
                <h4>새로운 문의건</h4>
                <div class="panel panel-default">
                    <!-- Table -->
                    <table class="table">
                        <thead>
                        <tr>
                            <th>주문날짜</th>
                            <th>의뢰물</th>
                            <th>결과물</th>
                            <th>번역사</th>
                            <th>가격</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in pre_orders %}
                            <tr class="body" onclick="javascript:getStatus({{ order.status }}, {{ order.id }})">
                                <td>{{order.register_date |date:'Y-m-d H:i:s'}}</td>
                                <td><a href="/static/{{user.username}}_{{order.filename}}">{{order.filename}}</a></td>
                                <td><a href="/static/complete_{{user.username}}_{{order.trans_filename}}">{{order.trans_filename}}</a></td>
                                <td>{% if order.translater == None %}
                                        미정
                                    {% else %}
                                        {{ order.translater.nickname}}
                                    {% endif %}
                                </td>
                                <td>{% if order.price == None %}
                                    미정

                                {% else %}
                                    {{ order.price }}
                                {% endif %}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                </br>
                <h4>진행중인 문의건</h4>
                <div class="panel panel-default">
                    <!-- Table -->
                    <table class="table">
                        <thead>
                        <tr>
                            <th>주문날짜</th>
                            <th>의뢰물</th>
                            <th>결과물</th>
                            <th>번역사</th>
                            <th>가격</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in progress_orders %}
                            <tr class="body" onclick="javascript:getStatus({{ order.status }}, {{ order.id }})">
                                <td>{{order.register_date |date:'Y-m-d H:i:s'}}</td>
                                <td><a href="/static/{{user.username}}_{{order.filename}}">{{order.filename}}</a></td>
                                <td><a href="/static/complete_{{user.username}}_{{order.trans_filename}}">{{order.trans_filename}}</a></td>
                                <td>{% if order.translater == None %}
                                        미정
                                    {% else %}
                                        {{ order.translater.nickname}}
                                    {% endif %}
                                </td>
                                <td>{% if order.price == None %}
                                    미정

                                {% else %}
                                    {{ order.price }}
                                {% endif %}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                </br>
                <h4>완료된 문의건</h4>
                <div class="panel panel-default">
                    <!-- Table -->
                    <table class="table">
                        <thead>
                        <tr>
                            <th>주문날짜</th>
                            <th>의뢰물</th>
                            <th>결과물</th>
                            <th>번역사</th>
                            <th>가격</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in complete_orders %}
                            <tr class="body" onclick="javascript:getStatus({{ order.status }}, {{ order.id }})">
                                <td>{{order.register_date |date:'Y-m-d H:i:s'}}</td>
                                <td><a href="/static/{{user.username}}_{{order.filename}}">{{order.filename}}</a></td>
                                <td><a href="/static/complete_{{user.username}}_{{order.trans_filename}}">{{order.trans_filename}}</a></td>
                                <td>{% if order.translater == None %}
                                        미정
                                    {% else %}
                                        {{ order.translater.nickname}}
                                    {% endif %}
                                </td>
                                <td>{% if order.price == None %}
                                    미정

                                {% else %}
                                    {{ order.price }}
                                {% endif %}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
