{% extends "base_status.html" %}
{% load camerocustomfilters %}
{% block title %}홈{% endblock %}
{% block statuscss %}
    .welcomeDiv
    {
    width:860px;
    height:1200px;
    background-color:#FFFFFF;
    margin-bottom:50px;
    }

    .translaterIntroDiv{
    width:600px;
    height : 150px;
    padding-top:20px;

    margin : 0 auto;
    text-align:center;
    }

    .translaterInfoDiv{
    margin-top:20px;
    margin-left : 20px;
    width : 820px;
    height : 500px;
    }

    .translaterInfoSubDiv{
    margin-left : 50px;
    width : 150px;
    height : 670px;
    float : left;
    }

    .translaterInfoSubDiv2{
    width : 600px;
    height : 700px;
    float : left;
    }

    .usePolicy{
    margin-left : 50px;
    width : 720px;
    height : 200px;
    border : 1px solid #111111;
    border-radius : 5px;
    float : left;
    overflow:scroll;
    }

    .infoInputTitle{
    padding-top:7px;
    height : 40px;
    }

    .infoInputTitle2{
    padding-top:7px;
    height : 160px;
    }

    .infoInputTitle3{
    padding-top:7px;
    height : 100px;
    }

    .infoInputTitle4{
    padding-top:7px;
    height : 130px;
    }

    .infoInputDiv{
    height : 40px;
    }

    .infoInputDiv2{
    height : 155px;
    }

    .infoInputDiv3{
    height : 100px;
    }

    .infoInputDiv4{
    height : 140px;
    }

    .infoInput{
    width : 300px;
    float : left;
    }

    .infoInput2{
    width : 90px;
    float : left;
    }

    .infoInput3{
    width : 570px;
    }

    .checkBtn{
    margin-left : 20px;
    height : 35px;
    float : left;
    }

    .usePolicyCheck{
    float : left;
    width : 820px;
    height : 50px;
    margin-left : 20px;
    margin-top : 10px;
    padding-left : 550px;
    }

    .translaterSubmitBtn{
    margin-left : 260px;
    width : 300px;
    height : 50px;
    }

{% endblock %}
{% block javascript %}
    function getStatus(order_num, order_id)
    {
    if(order_num == 1)
    window.location.href="/makestatus/";
    else
    window.location.href="/translater_mystatus/" +  order_id + "/" ;
    }

    var client = new XMLHttpRequest();

    function checkNickname()
    {
    /* Create a FormData instance */
    var formData = new FormData();
    val = $(".nicknameInput").val();

    if(val!='')
    {
    formData.append("nickname", val);
    client.open("POST", "/check_translater_nickname/", true);
    client.send(formData);
    }
    else
    {
    $(".translaterInfoSubDiv").css({"height" : '700px'});
    $(".translaterInfoSubDiv2").css({"height" : '700px'});
    $(".welcomeDiv").css({"height" : '1210px'});
    $("#nicknameErrorDiv").css({"height" : '30px', 'display' : ''});

    $("#nicknameErrorText").css({"color" : 'red' , 'display' : ''});
    $("#nicknameErrorText").text("닉네임을 입력해주세요.")
    }
    }

    client.onreadystatechange = function()
    {
    if (client.readyState == 4 && client.status == 200)
    {
    var value = client.responseText;
    console.log(value);
    console.log(value == 0);

    $(".translaterInfoSubDiv").css({"height" : '700px'});
    $(".translaterInfoSubDiv2").css({"height" : '700px'});
    $(".welcomeDiv").css({"height" : '1210px'});

    $("#nicknameErrorDiv").css({"height" : '30px', 'display' : ''});
    if(value == 0){

    $("#nicknameErrorText").css({"color" : 'red' , 'display' : ''});
    $("#nicknameErrorText").text("이미 존재하는 닉네임입니다.")
    }
    else {
    $("#nicknameErrorText").css({"color" : 'green' , 'display' : ''});
    $("#nicknameErrorText").text("사용 가능하신 닉네임입니다.")
    }
    }
    }

    function UpdateRequest()
    {
    console.log("submit");

    if($(".polickcheck").is(":checked") == false)
    {
    alert("이용약관에 동의해주시기 바랍니다.");
    }
    else
    {
    document.TranslaterActiveForm.submit();
    }
    }
{% endblock %}
{% block statusdiv %}
    {% if active == 2 %}
        <h4>새로운 의뢰 문의건</h4>
        <div class="panel panel-default">
            <!-- Table -->
            <table class="table">
                <thead>
                <tr>
                    <th width="20%">주문날짜</th>
                    <th width="30%">의뢰물</th>
                    <th width="30%">결과물</th>
                    <th width="10%">번역사</th>
                    <th width="10%">가격</th>
                </tr>
                </thead>
                <tbody>
                {% for order in pre_orders %}
                    <tr class="body" onclick="javascript:getStatus({{ order.status }}, {{ order.id }})">
                        <td>{{order.register_date |date:'Y-m-d H:i:s'}}</td>
                        <td><a href="/static/{{user.username}}_{{order.filename}}">{{order.filename}}</a></td>
                        <td></td>
                        <td>{{order.translater.nickname}}</td>
                        <td>{{order.price }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <h4>진행중인 의뢰건</h4>
        <div class="panel panel-default">
            <!-- Table -->
            <table class="table">
                <thead>
                <tr>
                    <th width="20%">주문날짜</th>
                    <th width="30%">의뢰물</th>
                    <th width="30%">결과물</th>
                    <th width="10%">번역사</th>
                    <th width="10%">가격</th>
                </tr>
                </thead>
                <tbody>
                {% for order in progress_orders %}
                    <tr class="body" onclick="javascript:getStatus({{ order.status }}, {{ order.id }})">
                        <td>{{order.register_date |date:'Y-m-d H:i:s'}}</td>
                        <td><a href="/static/{{user.username}}_{{order.filename}}">{{order.filename}}</a></td>
                        <td><a href="/static/complete_{{user.username}}_{{order.trans_filename}}">{{order.trans_filename}}</a></td>
                        <td>{{user.translater.nickname}}</td>
                        <td>{% if order.price == None %}

                        {% else %}
                            {{ order.price }}
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <h4>완료된 의뢰건</h4>
        <div class="panel panel-default">
            <!-- Table -->
            <table class="table">
                <thead>
                <tr>
                    <th width="20%">주문날짜</th>
                    <th width="30%">의뢰물</th>
                    <th width="30%">결과물</th>
                    <th width="10%">번역사</th>
                    <th width="10%">가격</th>
                </tr>
                </thead>
                <tbody>
                {% for order in complete_orders %}
                    <tr class="body">
                        <td>{{order.register_date |date:'Y-m-d H:i:s'}}</td>
                        <td><a href="/static/{{user.username}}_{{order.filename}}">{{order.filename}}</a></td>
                        <td><a href="/static/complete_{{user.username}}_{{order.trans_filename}}">{{order.trans_filename}}</a></td>
                        <td>{{user.translater.nickname}}</td>
                        <td>{% if order.price == None %}

                        {% else %}
                            {{ order.price }}
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    {% elif active == 1 %}
        <div class="welcomeDiv" style="height: 350px;">
            <div class="translaterIntroDiv">
                <img src="static/approve.png">
                <h3 style="font-weight: bold;">프리랜서 <span style="color:green;">승인요청 중</span>입니다.</h3>
                <h4 style="line-height:150%;">
                    가입 정보 검토 후 12시간 내에 승인 완료해드립니다. </br>
                    승인 완료 후 정상적인 번역업무가 가능합니다.  </br>
                    가입 정보 입력사항에 따라 재입력 요청을 드릴 수 있습니다. </br>
                </h4>
            </div>
        </div>
    {% elif active == 0 %}

        <div class="welcomeDiv">
            <div class="translaterIntroDiv">
                <form name="TranslaterActiveForm" id="TranslaterActiveForm" action="/translater_active_request/" method="POST" > {% csrf_token %}
                    <h3 style="font-weight: bold;">카메로 프리랜서 회원 가입을 축하드립니다.</h3>
                    <h4 style="line-height:120%;">번역 시작에 앞서 몇 가지 정보를 입력해주세요!</br>
                        검토 후 12시간 내에 등록해드립니다.</br>
                    </h4>
            </div>
            <div class="translaterInfoDiv">
                <div class="translaterInfoSubDiv">
                    <div class="infoInputTitle">성명 </div>
                    <div class="infoInputTitle">닉네임 </div>
                    <div id="nicknameErrorDiv" style="display: none;"> </div>
                    <div class="infoInputTitle">연락처 </div>
                    <div class="infoInputTitle">입금계좌 </div>
                    <div class="infoInputTitle">가능 서비스 </div>
                    <div class="infoInputTitle">가능 언어 </div>
                    <div class="infoInputTitle2">희망 번역분야 </div>
                    <div class="infoInputTitle3">학력 </div>
                    <div class="infoInputTitle4">대표 번역 경력 </div>
                    <div class="infoInputTitle">해외거주이력/</br> 어학시험성적 </div>
                </div>
                <div class="translaterInfoSubDiv2">
                    <div class="infoInputDiv">
                        <input type="text" class="form-control infoInput" name="username" value="{{ user.translater.username}}" >
                    </div>
                    <div class="infoInputDiv">
                        <input type="text" class="form-control infoInput nicknameInput" value="{{ user.translater.nickname }}" name="nickname">
                        <button type="button" class="btn btn-success checkBtn" onclick="javascript:checkNickname();">중복 확인</button>
                    </div>
                    <p id="nicknameErrorText" style="display: none;">이미 존재하는 닉네임입니다.</p>
                    <div class="infoInputDiv">
                        <input type="text" class="form-control infoInput2" name="phone1" value="{{user.translater.phone}}">
                        <input type="text" class="form-control infoInput2" style="margin-left:15px;" name="phone2" value="{{user.translater.phone2}}">
                        <input type="text" class="form-control infoInput2" style="margin-left:15px;" name="phone3" value="{{user.translater.phone3}}">
                    </div>
                    <div class="infoInputDiv">
                        <input type="text" class="form-control" style="font-size:14px; width:50px;float:left;" name="bank" value="{{user.translater.bank}}">
                        <span style="float:left; margin-left:5px; margin-top:7px;">은행,</span>

                        <span style="float:left; margin-left:10px; margin-right:5px; margin-top:7px;">계좌번호 :</span>
                        <input type="text" class="form-control" style="font-size:14px; width:140px;float:left;" name="bank_num" value="{{user.translater.bank_num}}">
                    </div>
                    <div class="infoInputDiv"  style="margin-top:5px;">
                        <input type="checkbox" name="service_available" value="0" {% if translate %}checked{% endif %}> <span>번역</span>
                        <input type="checkbox" style="margin-left:20px;" name="service_available" value="1" {% if revision %}checked{% endif %}> <span>교정</span>
                    </div>
                    <div class="infoInputDiv">
                        <input type="checkbox" name="language_available" value="0" {% if lang1 %}checked{% endif %}> <span>한영</span>
                        <input type="checkbox" style="margin-left:20px;" name="language_available" value="1" {% if lang2 %}checked{% endif %}> <span>영한</span>
                        <input type="checkbox" style="margin-left:20px;" name="language_available" value="2" {% if lang3 %}checked{% endif %}> <span>한일</span>
                        <input type="checkbox" style="margin-left:20px;" name="language_available" value="3" {% if lang4 %}checked{% endif %}> <span>일한</span>
                        <input type="checkbox" style="margin-left:20px;" name="language_available" value="4" {% if lang5 %}checked{% endif %}> <span>한중</span>
                        <input type="checkbox" style="margin-left:20px;" name="language_available" value="5" {% if lang6 %}checked{% endif %}> <span>중한</span>
                    </div>
                    <div class="infoInputDiv2">
                        <input type="checkbox" name="translate_available" value="0" {% if field1 %}checked{% endif %}> <span>일반           (자기소개서,  보고서, 이메일 등)</span></br>
                        <input type="checkbox" name="translate_available" value="1" {% if field2 %}checked{% endif %}> <span>경제/무역       (회사소개, 무역, 관광, 광고자료 등)</span></br>
                        <input type="checkbox" name="translate_available" value="2" {% if field3 %}checked{% endif %}> <span>법률           (특허, 계약서, 약관, 국제인증 등)</span></br>
                        <input type="checkbox" name="translate_available" value="3" {% if field4 %}checked{% endif %}> <span>문학           (정치, 교육, 역사, 종교 등)</span></br>
                        <input type="checkbox" name="translate_available" value="4" {% if field5 %}checked{% endif %}> <span>공학/기술    (건설, 화학, 전자 등)</span></br>
                        <input type="checkbox" name="translate_available" value="5" {% if field6 %}checked{% endif %}> <span>의학/ 과학   (의학, 생명,  간호 등)</span></br>
                        <input type="checkbox" name="translate_available" value="6" {% if field7 %}checked{% endif %}> <span>기타           (영화, 드라마, 패션 등)</span>
                    </div>
                    <div class="infoInputDiv3">
                        <input type="text" class="form-control infoInput3" name="school1" value="{{schools|get_at_index:0}}">
                        <input type="text" class="form-control infoInput3" style="margin-top:5px;" name="school2" value="{{schools|get_at_index:1}}">
                    </div>
                    <div class="infoInputDiv4">
                        <input type="text" class="form-control infoInput3" name="career1" value="{{careers|get_at_index:0}}">
                        <input type="text" class="form-control infoInput3" style="margin-top:5px;" name="career2" value="{{careers|get_at_index:1}}">
                        <input type="text" class="form-control infoInput3" style="margin-top:5px;" name="career3" value="{{careers|get_at_index:2}}">
                    </div>
                    <div class="infoInputDiv">
                        <input type="text" class="form-control infoInput3" name="lang_experience" value="{{user.translater.lang_experience}}">
                    </div>
                </div>
                <div class="usePolicy">
                </div>
                <div class="usePolicyCheck">
                    <input type="checkbox" class="polickcheck"> <span>위의 이용약관에 동의합니다.</span>
                </div>
                </form>
                <button type="button" class="btn btn-success translaterSubmitBtn" onclick="javascript:UpdateRequest();">승인 요청</button>
            </div>
        </div>


    {% endif %}


{% endblock %}
