{% extends "base.html" %}
{% block title %}홈{% endblock %}
{% block css %}
    .section_style {
    background : url('../static/section_bg_2.jpg') 0px 0px fixed repeat-y;
    z-index : 990;

    }

    .intro{
    width:100%;
    height: 500px;
    background:rgba(0,0,0,0.5);
    color:white;
    }

    .introCenter{
    width:1100px;
    margin : 0 auto;
    height:500px;
    }

    .introTitleDiv{
    width:530px;
    padding-top:50px;
    float:left;
    }

    .translateCal {
    width : 570px;
    height : 430px;
    margin-top : 30px;
    background-color:rgba(46, 204, 113, 1.0);
    border-radius : 5px;
    float:left;
    }

    .logoimagediv{
    width : 500px;
    height : 160px;
    margin-top : 20px;
    }

    .logoimage {
    width : 300px;
    height : 150px;

    }

    .calculateTrans{
    width : 600px;
    height : 500px;

    }

    .TransTabAll{
    background-color:rgba(51, 55, 57, 1.0);
    border-radius : 5px;
    }

    .TransTab{
    width:285px;
    text-align:center;
    border-radius : 5px;
    }

    .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus
    {
    background-color:rgba(46, 204, 113, 1.0) !important;
    color:white;
    }

    .TransTab a{
    color:white;
    }

    .TransTab.active a{
    border-color:rgba(46, 204, 113, 1.0) !important;
    background-color:rgba(46, 204, 113, 1.0) !important;
    color:white;
    }


    .TransTab a:hover{
    border-color:rgba(46, 204, 113, 1.0) !important;
    background-color:rgba(46, 204, 113, 1.0) !important;
    }

    .transcaldiv {
    float:left;
    margin-right : 20px;
    }

    .transcaltext{
    width : 162px;
    }

    .transcalfile{
    width : 525px;
    }

    .transcalresult{
    width : 252px;
    }

    .transcalbtn {
    width : 525px;
    height : 40px;
    font-size : 20px;
    margin-top : 40px;
    }

    .transcalbtndiv{

    }

    .service_intro_section {
    width:100%;
    height:400px;
    background-color : #e3ebef;
    }

    .service_intro {
    width : 1150px;
    height : 400px;
    margin : 0 auto;
    }

    .service_intro_part_1 {
    margin-top : 25px;
    width : 350px;
    height : 350px;
    background-color : white;
    float : left;
    }

    .service_intro_part {
    margin-top : 25px;
    margin-left : 50px;
    width : 350px;
    height : 350px;
    background-color : white;
    float : left;
    }

    .service_intro_mark{
    margin-top : 30px;
    margin-left : 100px;
    width : 150px;
    height : 150px;
    }

    .service_intro_title{
    margin-top:30px;
    font-weight:bold;
    font-size:25px;
    text-align:center;
    }

    .service_intro_comment{
    margin-top:25px;
    font-size:15px;
    text-align:center;
    }
{% endblock %}
{% block javascript %}
    function Original(lang)
    {
    var btn = document.getElementById("originalLang");
    var btn2 = document.getElementById("changeLang");
    if(lang == 0) {
    btn.innerHTML = "영어";
    btn2.innerHTML = "한국어";
    }
    else if(lang == 1) {
    btn.innerHTML = "한국어";
    btn2.innerHTML = "영어";
    }

    return 0;
    }

    function ChangeLang(lang)
    {
    var btn = document.getElementById("changeLang");
    var btn2 = document.getElementById("originalLang");
    if(lang == 0) {
    btn.innerHTML = "영어";
    btn2.innerHTML = "한국어";
    }
    else if(lang == 1) {
    btn.innerHTML = "한국어";
    btn2.innerHTML = "영어";
    }
    return 0;
    }

    var client = new XMLHttpRequest();

    function FileBrowse()
    {
    var file_upload_btn = document.getElementById("file_upload_btn");
    var file = document.getElementById("file_upload_input");

    $("#file_upload_input").click();
    $("#file_upload_input").change(function() {
    file_upload_btn.innerHTML = $("#file_upload_input").val().split('\\').pop();

    /* Create a FormData instance */
    var formData = new FormData();
    /* Add the file */
    formData.append("file", file.files[0]);

    client.open("POST", "/calculate_budget/", true);
    client.send(formData);

    });
    }


    client.onreadystatechange = function()
    {
    if (client.readyState == 4 && client.status == 200)
    {
    var obj = JSON.parse(client.responseText);
    $("#amountMoney").val(obj.budget);
    $("#transcount").val(obj.transcount);

    console.log(client.responseText);
    }
    }

    $(function() {
        $("#transcal").datepicker();
    });

{% endblock %}
{% block content %}

    <section class="section_style">
        <div class="intro">
            <div class="introCenter">
            <div class="introTitleDiv">
                <div class="logoimagediv">
                    <img class="logoimage" src="/static/logo.png">
                </div>
                <h1 style="font-weight:bold;">카메로 번역서비스</h1>
                <h4 style="line-height:2.0em; margin-top:20px;">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true" style="margin-right:10px;"></span> 국내 최저수수료 5%! 번역비용을 덜어드려요</br>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true" style="margin-right:10px;"></span> 언제 어디서나 10시간 내 견적 문의</br>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true" style="margin-right:10px;"></span> 마음에 드는 전문 번역가를 최대 27명을 비교선택</br>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true" style="margin-right:10px;"></span> 국내외 번역가들에게 맞춤 번역 의뢰 추천을 해드려요!</br>
                </h4>
            </div>
            <div class="translateCal">

                <div class="calculateTrans">
                    <ul id="myTab" class="nav nav-tabs TransTabAll" role="tablist" style="width:570px; height:45px;">
                        <li class="TransTab active" role="presentation"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">번역 서비스</a></li>
                        <li class="TransTab" role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">교정 서비스</a></li>
                    </ul>

                    <div id="myTabContent" class="tab-content" style="width:550px; height:300px; margin-left:20px;">
                        <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledBy="home-tab">
                            <h3>무슨 번역을 원하세요?</h3>
                            <div class="transcaldiv">
                                <h4>원문</h4>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle transcaltext" type="button" id="originalLang" data-toggle="dropdown" aria-expanded="true">
                                        영어
                                    </button>
                                    <ul class="dropdown-menu transcaltext" role="menu" aria-labelledby="dropdownMenu1">
                                        <li role="presentation"><a role="menuitem" tabindex="0" href="javascript:Original(0);">영어</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="1" href="javascript:Original(1);">한국어</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="transcaldiv">
                                <h4>번역문</h4>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle transcaltext" type="button" id="changeLang" data-toggle="dropdown" aria-expanded="true">
                                        한국어
                                    </button>
                                    <ul class="dropdown-menu transcaltext" role="menu" aria-labelledby="dropdownMenu1">
                                        <li role="presentation"><a role="menuitem" tabindex="0" href="javascript:ChangeLang(0);">영어</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="1" href="javascript:ChangeLang(1);">한국어</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="transcaldiv">
                                <h4>번역기간</h4>
                                <input type="text" class="form-control transcaltext" id="transcal">
                            </div>
                            <br>
                            <div class="transcaldiv">
                                <h4>의뢰물 올리기</h4>
                                <button type="button" id="file_upload_btn" class="btn btn-default transcalfile" onclick="javascript:FileBrowse();">파일 업로드</button>
                            </div>
                            <br>
                            <div class="transcaldiv">
                                <h4>예상번역 견적</h4>
                                <input id="amountMoney" type="text" class="form-control transcalresult">
                            </div>
                            <div class="transcaldiv">
                                <h4>나에게 맞는 번역사 수</h4>
                                <input id="transcount" type="text" class="form-control transcalresult">
                            </div>
                            <div class="transcalbtndiv">
                                <button type="button" class="btn btn-success transcalbtn" onclick="javascript:Login();">의뢰하러가기!</button>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledBy="profile-tab">
                            <h3>무슨 교정을 원하세요?</h3>
                            <div class="transcaldiv">
                                <h4>교정문</h4>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle transcalresult" type="button" id="originalLang" data-toggle="dropdown" aria-expanded="true">
                                        영어
                                    </button>
                                    <ul class="dropdown-menu transcalresult" role="menu" aria-labelledby="dropdownMenu1">
                                        <li role="presentation"><a role="menuitem" tabindex="0" href="javascript:Original(0);">영어</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="1" href="javascript:Original(1);">한국어</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="transcaldiv">
                                <h4>번역기간</h4>
                                <input type="text" class="form-control transcalresult">
                            </div>
                            <br>
                            <div class="transcaldiv">
                                <h4>의뢰물 올리기</h4>
                                <button type="button" id="file_upload_btn" class="btn btn-default transcalfile" onclick="javascript:FileBrowse();">파일 업로드</button>
                            </div>
                            <br>
                            <div class="transcaldiv">
                                <h4>예상번역 견적</h4>
                                <input id="amountMoney" type="text" class="form-control transcalresult">
                            </div>
                            <div class="transcaldiv">
                                <h4>나에게 맞는 번역사 수</h4>
                                <input id="transcount" type="text" class="form-control transcalresult">
                            </div>
                            <div class="transcalbtndiv">
                                <button type="button" class="btn btn-success transcalbtn" onclick="javascript:Login();">의뢰하러가기!</button>
                            </div>
                        </div>
                    </div>

                </div>
                </div>
            </div>
        </div>
    </section>

    <section class="service_intro_section">
        <div class="service_intro">
        <div class="service_intro_part_1">
            <image src="static/light.png" class="service_intro_mark"></image>
            <h4 class="service_intro_title">Fast & Easy</h4>
            <p class="service_intro_comment">
                24시간 주말에도 온라인 접수가능하며<br>
                최단 9시간내에 교정이 완료됩니다.
            </p>
        </div>
        <div class="service_intro_part">
            <image src="static/crown.png" class="service_intro_mark"></image>
            <h4 class="service_intro_title">Best Quality</h4>
            <p class="service_intro_comment">
                미국 영국 주요 교정업체에서의<br>
                검증된 에디터가 최고 품질의 서비스를 제공합니다.
            </p>
        </div>
        <div class="service_intro_part">
            <image src="static/money.png" class="service_intro_mark"></image>
            <h4 class="service_intro_title">Best Price</h4>
            <p class="service_intro_comment">
                페이지 당 7,800원으로<br>
                국내 최저가 입니다.
            </p>
        </div>
        </div>
    </section>



    <form id="file_upload_form" name="file_upload" action="/hello" method="POST" enctype="multipart/form-data">
        <input type="file" id="file_upload_input" name="file" style="display:none;">
    </form>

{% endblock %}
