{% extends "base_status.html" %}
{% block title %}홈{% endblock %}
{% block statuscss %}
    .resultTitle{
    padding-top:10px;
    padding-bottom:10px;
    margin: 0 auto;
    width : 700px;
    border-radius:5px;
    }

    .statusDiv{
    padding-top:20px;
    margin : 0 auto;
    width : 700px;
    }

    .reviewDiv{
    margin-top:20px;
    }

    .reviewInput{
    width:580px;
    float:left;
    }

    .reviewBtn{
    width : 100px;
    margin-left:20px;
    float : left;
    }

    .reviewCheck{
    width : 700px;
    padding-top:20px;
    float : left;
    }

    .reviewCheckText{
    margin-right:20px;
    }

    .transCompleteBtn{
    margin-top:20px;
    margin-bottom:20px;
    width : 700px;
    float : left;
    }
{% endblock %}
{% block javascript %}
    function Original(lang)
    {
    var btn = document.getElementById("originalLang");
    var btn2 = document.getElementById("changeLang");
    if(lang == 0) {
    btn.innerHTML = "영어";
    btn2.innerHTML = "한국어";
    }
    else if(lang == 1) {
    btn.innerHTML = "한국어";
    btn2.innerHTML = "영어";
    }

    return 0;
    }

    function ChangeLang(lang)
    {
    var btn = document.getElementById("changeLang");
    var btn2 = document.getElementById("originalLang");
    if(lang == 0) {
    btn.innerHTML = "영어";
    btn2.innerHTML = "한국어";
    }
    else if(lang == 1) {
    btn.innerHTML = "한국어";
    btn2.innerHTML = "영어";
    }
    return 0;
    }

    var client = new XMLHttpRequest();

    function FileBrowse()
    {
    var file_upload_btn = document.getElementById("file_upload_btn");
    var file = document.getElementById("file_upload_input");

    $("#file_upload_input").click();
    $("#file_upload_input").change(function() {
    file_upload_btn.innerHTML = $("#file_upload_input").val().split('\\').pop();

    /* Create a FormData instance */
    var formData = new FormData();
    /* Add the file */
    formData.append("file", file.files[0]);

    client.open("POST", "/calculate_budget/", true);
    client.send(formData);

    });
    }


    client.onreadystatechange = function()
    {
    if (client.readyState == 4 && client.status == 200)
    {
    var obj = JSON.parse(client.responseText);
    $("#amountMoney").val(obj.budget);
    $("#transcount").val(obj.transcount);

    console.log(client.responseText);
    }
    }


    function getStatus()
    {
    console.log("H");
    window.location.href="/a";
    }

{% endblock %}
{% block statusdiv %}
    <div class="mainStatusDiv">
        <div class="mainStatusDivCenter">
            <div class="cameroImageStatus">
                <img class="defaultimage_logo" src="/static/logo.jpg" style="margin-left : 600px;">
            </div>
            <div class="myStatus">
                <div class="statusBox">
                    <p>견적</p>
                    <p>확인</p>
                </div>
                <div class="statusBoxMiddle">
                    <p>번역가</p>
                    <p>협상</p>
                </div>
                <div class="statusBoxMiddle" style="padding-top:35px;">
                    <p>결제</p>
                </div>
                <div class="statusBoxMiddle">
                    <p>번역물</p>
                    <p>수령</p>
                </div>
                <div class="statusBoxMiddle" style="background-color :#66cdaa">
                    <p>변역</p>
                    <p>완료</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block statusDetaildiv  %}
    <div class="mainDetailStatusInfo">
        <div class="statusDiv">
            <div class="jumbotron resultTitle">
                <p style="font-size: 15px;">
                    <span style="font-weight:bold; padding-left: 20px;">의뢰 문서 :</span> SOP.hwp<br>
                    <span style="font-weight:bold; padding-left: 20px;">번역 결과물 :</span> SOP_번역본.hwp<br>
                    <span style="font-weight:bold; padding-left: 20px;">번역가 :</span> translator1988<br>
                    <span style="font-weight:bold; padding-left: 20px;">번역기간 :</span> 12-16-2014  5:23 PM<br>
                    <span style="font-weight:bold; padding-left: 20px;">번역료 :</span> 27,000원<br>
                </p>
            </div>
            <div class="reviewDiv">
                <p>translator1988 번역가님에 대해 리뷰를 입력해주세요</p>
                <input id="transcount" type="text" class="form-control reviewInput">
                <button type="button" class="btn btn-success reviewBtn" onclick="javascript:Ask();">입력</button>
            </div>
            <div class="reviewCheck">
                <span class="reviewCheckText">translator1988 번역가님을 관심번역가목록에 추가하시겠습니까?</span>
                <input type="checkbox" class="reviewCheckBtn"> 네
            </div>
            <button type="button" class="btn btn-success transCompleteBtn" onclick="javascript:TranslaterSignUpSubmit();">번역 완료</button>
        </div>
    </div>

{% endblock %}
