{% extends "base.html" %}
{% block title %}홈{% endblock %}
{% block css %}
     .defaultimage
    {
    width : 100px;
    height : 60px;
    margin-left : 150px;
    margin-bottom : 50px;
    }

    .cameroImageStatus{
    margin : 0 auto;
    width : 1000px;
    height : 100px;
    }

    .myStatus{
    margin : 0 auto;
    width : 1000px;
    height : 100px;

    }

    .statusBox{
    margin-left : 150px;
    padding-top:20px;
    width : 100px;
    height : 100px;
    background-color : #66cdaa;
    text-align : center;
    float : left;
    }

    .statusBoxMiddle{
    margin-left:50px;
    padding-top:20px;
    width : 100px;
    height : 100px;
    background-color : #EEEEEE;
    text-align : center;
    float : left;
    }

{% endblock %}
{% block javascript %}
    function Original(lang)
    {
    var btn = document.getElementById("originalLang");
    var btn2 = document.getElementById("changeLang");
    if(lang == 0) {
    btn.innerHTML = "영어";
    btn2.innerHTML = "한국어";
    }
    else if(lang == 1) {
    btn.innerHTML = "한국어";
    btn2.innerHTML = "영어";
    }

    return 0;
    }

    function ChangeLang(lang)
    {
    var btn = document.getElementById("changeLang");
    var btn2 = document.getElementById("originalLang");
    if(lang == 0) {
    btn.innerHTML = "영어";
    btn2.innerHTML = "한국어";
    }
    else if(lang == 1) {
    btn.innerHTML = "한국어";
    btn2.innerHTML = "영어";
    }
    return 0;
    }

    var client = new XMLHttpRequest();

    function FileBrowse()
    {
    var file_upload_btn = document.getElementById("file_upload_btn");
    var file = document.getElementById("file_upload_input");

    $("#file_upload_input").click();
    $("#file_upload_input").change(function() {
    file_upload_btn.innerHTML = $("#file_upload_input").val().split('\\').pop();

    /* Create a FormData instance */
    var formData = new FormData();
    /* Add the file */
    formData.append("file", file.files[0]);

    client.open("POST", "/calculate_budget/", true);
    client.send(formData);

    });
    }


    client.onreadystatechange = function()
    {
    if (client.readyState == 4 && client.status == 200)
    {
    var obj = JSON.parse(client.responseText);
    $("#amountMoney").val(obj.budget);
    $("#transcount").val(obj.transcount);

    console.log(client.responseText);
    }
    }


    function getStatus()
    {
        console.log("H");
        window.location.href="/a";
    }

{% endblock %}
{% block content %}
    <div class="mainInfo" style="background-color: #FFFFEE">
        <legend></legend>
        <div class="cameroImageStatus">
            <img class="defaultimage" src="/static/logo.jpg">
        </div>
        <div class="myStatus">
            <div class="statusBox" style="background-color:#EEEEEE;">
                <p>견적</p>
                <p>확인</p>
            </div>
            <div class="statusBoxMiddle">
                <p>번역가</p>
                <p>협상</p>
            </div>
            <div class="statusBoxMiddle" style="padding-top:35px; background-color:#66cdaa;">
                <p>결제</p>
            </div>
            <div class="statusBoxMiddle">
                <p>번역물</p>
                <p>수령</p>
            </div>
            <div class="statusBoxMiddle">
                <p>변역</p>
                <p>완료</p>
            </div>
        </div>
        <legend></legend>
    </div>


{% endblock %}
