{% extends "base_status.html" %}
{% block title %}홈{% endblock %}
{% block statuscss %}
    .receiveStatusDiv{
    padding-top:20px;
    }

    .resultTitle{
    padding-top:10px;
    padding-bottom:10px;
    margin: 0 auto;
    width : 700px;
    border-radius:5px;
    }

    .defaultColumn{
    margin : 0 auto;
    width : 700px;
    padding-top:20px;
    }

    .defaultImage2{
    width:100px;
    height:100px;
    border-radius:5px;
    float:left;
    }

    .clientChat{
    margin-left:20px;
    width : 580px;
    min-height:120px;
    float:left;
    padding-top:20px;
    padding-bottom:0px;
    border-radius:5px;
    }

    .chat{
    margin-top:20px;
    }

    .defaultImage3{
    width:100px;
    height:100px;
    border-radius:5px;
    float:right;
    }

    .translaterChat{
    width : 580px;
    min-height:120px;
    float:left;
    padding-top:20px;
    padding-bottom:0px;
    border-radius:5px;
    }

    .chatInput{
    width : 580px;
    float : left;
    }

    .chatBtn{
    width : 100px;
    margin-left:20px;
    float : left;
    }

    .transCompleteBtnDiv{
    width:700px;
    height: 200px;
    margin : 0 auto;
    }

    .transCompleteBtn{
    margin-top:20px;
    margin-bottom:20px;
    width : 700px;
    height: 50px;
    float : left;
    }
{% endblock %}
{% block javascript %}

    client.onreadystatechange = function()
    {
    if (client.readyState == 4 && client.status == 200)
    {
    var obj = JSON.parse(client.responseText);
    $("#amountMoney").val(obj.budget);
    $("#transcount").val(obj.transcount);

    console.log(client.responseText);
    }
    }

    function getStatus()
    {
    console.log("H");
    window.location.href="/a";
    }

    function Complete()
    {
    document.updateForm.submit();
    }

{% endblock %}
{% block statusdiv %}

    <div class="mainStatusDiv">
        <div class="mainStatusDivCenter">
            <div class="cameroImageStatus">
                <img class="defaultimage_logo" src="/static/logo.jpg" style="margin-left : 450px;">
            </div>
            <div class="myStatus">
                <div class="statusBox">
                    <p>견적</p>
                    <p>확인</p>
                </div>
                <div class="statusBoxMiddle">
                    <p>번역가</p>
                    <p>협상</p>
                </div>
                <div class="statusBoxMiddle" style="padding-top:35px;">
                    <p>결제</p>
                </div>
                <div class="statusBoxMiddle" style="background-color :#66cdaa;">
                    <p>번역물</p>
                    <p>수령</p>
                </div>
                <div class="statusBoxMiddle">
                    <p>변역</p>
                    <p>완료</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block statusDetaildiv  %}
    <div class="mainDetailStatusInfo">
        <div class="receiveStatusDiv">
            <div class="jumbotron resultTitle">
                <p style="font-size: 15px;">
                    <span style="font-weight:bold; padding-left: 20px;">의뢰 문서 :</span> SOP.hwp<br>
                    <span style="font-weight:bold; padding-left: 20px;">번역 기간 :</span> 12-16-2014 5:23PM<br>
                    <span style="font-weight:bold; padding-left: 20px;">잔여 시간 :</span><br>
                <div style="text-align:center;">
                    <span style="font-weight:bold; font-size:40px;">4:21:10</span>
                </div>
                </p>
            </div>
            <div class="defaultColumn">
                <img class="defaultImage2" src="/static/default.png">
                <div class="jumbotron clientChat">
                    <span style="padding-left: 20px;">의뢰인 :</span>CLIENT1988<span style="padding-left: 270px;"> 12-16-2014 5:23PM</span></br>
                    <div class="chat">
                        <span style="padding-left: 20px;">잘 부탁드립니다.</span></br>
                    </div>
                </div>
            </div>
            <div class="defaultColumn">
                <div class="jumbotron translaterChat">
                    <span style="padding-left: 20px;">의뢰인 :</span>TRANSLATER1988<span style="padding-left: 220px;"> 12-16-2014 10:23PM</span></br>
                    <div class="chat">
                        <span style="padding-left: 20px;">문서가 완료 되었습니다.</span><br>
                    </div>
                </div>
                <img class="defaultImage3" src="/static/default.png">
            </div >
            <div class="defaultColumn">
                <input id="transcount" type="text" class="form-control chatInput">
                <button type="button" class="btn btn-success chatBtn" onclick="javascript:Ask();">입력</button>
            </div>
            <div class="transCompleteBtnDiv">
                <button type="button" class="btn btn-success transCompleteBtn" onclick="javascript:Complete();">번역물 수령 완료</button>
            </div>
        </div>
    </div>

    <form id="file_upload_form" name="updateForm" action="/update_order/{{ order.status }}/" method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <input type="hidden" name="order_id" value="{{ order.id }}">
    </form>


{% endblock %}
