{% extends "base_status.html" %}
{% block title %}홈{% endblock %}
{% block statuscss %}
    .budgetPage
    {
    margin : 0 auto;
    width : 700px;
    padding-top :20px;
    }

    .budgetInfoPage{
    margin-top : 30px;
    padding-top : 20px;
    padding-bottom : 20px;
    padding-left : 170px;
    width : 700px;
    border : 1px solid #111111;
    border-radius : 5px;
    }

    .budgetSubmitBtn{
    margin-left : 200px;
    width : 300px;
    height : 50px;
    }
{% endblock %}
{% block javascript %}

    function update()
    {
        console.log("a");
        UpdateOrderForm.submit();
    }

{% endblock %}
{% block statusdiv %}
    <div class="mainStatusDiv">
        <div class="mainStatusDivCenter">
            <div class="cameroImageStatus">
                <img class="defaultimage_logo" src="/static/logo.jpg" style="margin-left : 450px;">
            </div>
            <div class="myStatus">
                <div class="statusBox">
                    <p>견적</p>
                    <p>확인</p>
                </div>
                <div class="statusBoxMiddle">
                    <p>번역가</p>
                    <p>문의</p>
                </div>
                <div class="statusBoxMiddle">
                    <p>번역물</p>
                    <p>선정</p>
                </div>
                <div class="statusBoxMiddle" style="padding-top:35px; background-color :#66cdaa">
                    <p>결제</p>
                </div>
                <div class="statusBoxMiddle">
                    <p>변역</p>
                    <p>완료</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block statusDetaildiv  %}
    <div class="mainDetailStatusInfo">
        <div class="budgetPage">
            <h3>무통장 입금 안내</h3>
            <div class="budgetInfoPage">
                결제 금액:    	<span style="padding-left:100px;"><span style="font-weight:bold; color:green;">111,111 </span>원 (10% VAT 포함)</span> </br>
                입금자 명:    	<span style="padding-left:100px; font-weight:bold; color:green;">Client123</span> </br>

                입금 계좌:    <span style="padding-left:100px;">기업은행 1231123123123</span> </br>
                예금 주:		<span style="padding-left:114px;">(주) 카메로</span> </br>
            </div>
            {% if status == 4 %}
            <h4 style="margin-top:20px;">입금 완료하셨나요?</h4>
            <button type="button" class="btn btn-success budgetSubmitBtn" onclick="javascript:update();">빠른 입금확인 요청!</button>
            <p style="margin-top:20px; margin-bottom:50px;">
                - 입금확인 완료 시 번역가와 연결됩니다. </br>
                - 입금확인 요청 후 1시간 내 승인이 나지 않으면 03-123-1231로 연락주시기 바랍니다. </br>
                - 번역료는 번역물 수령 완료 후 번역가에게 전달됩니다.
            </p>
            {% elif status == 5 %}
            <h4 style="margin-top:20px;"> 30분 내로 입금이 확인 됩니다.</h4></br>
            {% endif %}
        </div>
    </div>

    <form name="UpdateOrderForm" id="UpdateOrderForm" action="/update_order/{{order.status}}/" method="POST"> {% csrf_token %}
        <input type="hidden" name="order_id" value="{{ order.id }}">
    </form>

{% endblock %}
