{% extends "base_status.html" %}
{% block statuscss %}
    .mainDetailStatusInfo2{
    margin-bottom:20px;
    width:860px;
    float:left;
    background-color:#FFFFFF;
    }

    .receiveStatusDiv{
    margin: 0 auto;
    width : 700px;
    padding-top:20px;
    }

    .resultTitle{
    padding-top:10px;
    padding-bottom:10px;
    float:left;
    width : 700px;
    border-radius:5px;
    }

    .defaultColumn{
    float:left;
    width : 700px;
    padding-top:20px;
    }

    .defaultImage2{
    width:100px;
    height:100px;
    border-radius:5px;
    float:left;
    background-color:blue;
    }

    .clientChat{
    margin-left:20px;
    width : 580px;
    min-height:120px;
    float:left;
    padding-top:20px;
    padding-bottom:0px;
    border-radius:5px;
    }

    .chat{
    margin-top:20px;
    }

    .defaultImage3{
    width:100px;
    height:100px;
    border-radius:5px;
    float:right;
    }

    .translaterChat{
    width : 580px;
    min-height:120px;
    float:left;
    padding-top:20px;
    padding-bottom:0px;
    border-radius:5px;
    }

    .chatInput{
    width : 580px;
    float : left;
    }

    .chatBtn{
    width : 100px;
    margin-left:20px;
    float : left;
    }

    .transCompleteBtnDiv{
    width:700px;
    height: 200px;
    margin : 0 auto;
    }

    .transCompleteBtn{
    margin-top:20px;
    margin-bottom:20px;
    width : 700px;
    height: 50px;
    float : left;
    }
{% endblock %}
{% block javascript %}

    var client = new XMLHttpRequest();

    function TranslateUpload()
    {

    $("#file_upload_input").click();
    $("#file_upload_input").change(function() {
    document.file_upload.submit();
    });
    }


    function getStatus(order_num, order_id)
    {
    if(order_num == 1)
    window.location.href="/makestatus/";
    else
    window.location.href="/translater_mystatus/" +  order_id + "/" ;
    }

    function Chat()
    {
    document.orderChatForm.submit();
    }

{% endblock %}
{% block statusdiv %}
    <div class="mainDetailStatusInfo2">
        <div class="receiveStatusDiv">
            <div class="jumbotron resultTitle">
                <p style="font-size: 15px;">
                    <span style="font-weight:bold; padding-left: 20px;">의뢰 문서 :</span> {{ order.filename }}<br>
                    <span style="font-weight:bold; padding-left: 20px;">번역 기간 :</span> {{ order.period }}<br>
                    <span style="font-weight:bold; padding-left: 20px;">잔여 시간 :</span><br>
                <div style="text-align:center;">
                    <span style="font-weight:bold; font-size:40px;">4:21:10</span>
                </div>
                </p>
            </div>

            {% for message in message_set %}
                {% if message.type == 0 %}
                    <div id='{{forloop.counter0}}' class="defaultColumn">
                        <div class="jumbotron translaterChat">
                            <span style="padding-left: 20px; padding-right:10px;">의뢰인 :</span>{{message.sender}}<span style="padding-left: 270px;"> {{message.register_date}}</span></br>
                            <div class="chat">
                                <span style="padding-left: 20px;">{{ message.content }}</span></br>
                            </div>
                        </div>
                        <img class="defaultImage3" src="/static/default.png">
                    </div >
                {% else %}
                    <div id='{{forloop.counter0}}' class="defaultColumn">
                        <img class="defaultImage2" src="/static/default.png">
                        <div class="jumbotron clientChat">
                            <span style="padding-left: 20px; padding-right:10px;">번역자 :</span>{{message.sender}}<span style="padding-left: 270px;"> {{message.register_date}}</span></br>
                            <div class="chat">
                                <span style="padding-left: 20px;">{{ message.content }}</span></br>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="defaultColumn">
                <form name="orderChatForm" action="/make_order_message/" method="POST"> {% csrf_token %}
                    <input name="content" id="content" type="text" class="form-control chatInput">
                    <input name="order_id" type="hidden" value="{{ order.id }}">
                    <input name="type" type="hidden" value="1">
                    <button type="button" class="btn btn-success chatBtn" onclick="javascript:Chat();">입력</button>
                </form>
            </div>
            <div class="transCompleteBtnDiv">
                <button type="button" class="btn btn-success transCompleteBtn" onclick="javascript:TranslateUpload();">번역물 업로드</button>
            </div>
        </div>
    </div>

    <form id="file_upload_form" name="file_upload" action="/update_order/{{ order.status }}/" method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <input type="file" id="file_upload_input" name="file" style="display:none;">
        <input type="hidden" name="order_id" value="{{ order.id }}">
    </form>

{% endblock %}
